.search-main {
    display: flex; /* จัดเรียงภายในให้อยู่ในแนวนอน */
    justify-content: space-between; /* เพิ่มระยะห่างระหว่างกล่อง */
    gap: 20px; /* ระยะห่างระหว่างกล่อง */
}

.search-box {
    flex: 6; /* สัดส่วน 70% */
    max-width: 60%; /* จำกัดความกว้างสูงสุด */
}

.project-box {
    flex-basis: 400px; /* กำหนดขนาดคงที่ของกล่องด้านขวา */
    flex-shrink: 0; /* ป้องกันการยืดหรือหดตัว */
    border-radius: 8px; /* มุมโค้งมน */
}

.video-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 10px;
}

.video-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-item img {
    width: 120px; /* ขนาดของ Thumbnail */
    height: auto;
    border-radius: 4px;
}

.video-item div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.video-item h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.video-item p {
    font-size: 0.9em;
    color: #666;
    line-height: 1.4;
    margin: 0;
}

form {
    margin: 20px auto;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    margin-bottom: 20px;

    button {
        align-self: flex-end;
    }
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], 
textarea, 
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: blue;
    background-color: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}


#video-container .video-entry {
    margin-bottom: 15px;
}


.video-item:hover {
    transform: translateY(-5px); /* ขยับกล่องขึ้นเล็กน้อย */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* เพิ่มเงา */
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์เป็นรูปมือ */
}
