{% extends "components/templates.html" %}
{% load static %}

{% block body-title %}
-HOME
{% endblock %}

{% block head-link %}
<link rel="stylesheet" href="{% static 'application/css/index.css' %}">
{% endblock %}

{% block body-content %}
<div class="index-main-box">
  <div class="index-mascot-box">
    <img src="{% static 'application/img/mascot.webp' %}" alt="" class="index-mascot-img">
  </div>
  <div class="index-preview-box">
    <h2>Kalinba?</h2>
    <p>&emsp;Kalimba เป็นเครื่องดนตรีที่ทั่วไปมี 10-17 เสียง มันดูน้อยและเรียบง่าย แต่ความเรียบง่ายนั้นสามารถสร้างคุณค่าทางจิตใจและอารมณ์ได้มากมาย <strong>โฟกัสกับสิ่งที่สำคัญที่สุดในชีวิต — เสียงเล็ก ๆ จาก Kalimba สามารถสร้างบทเพลงที่ยิ่งใหญ่ได้ เช่นเดียวกับการลดสิ่งที่ไม่จำเป็นเพื่อสร้างชีวิตที่มีความหมาย! 🎶✨</strong></p>
    <p>&emsp;ในยุคที่เทคโนโลยีแทรกซึมเข้ามาในทุกซอกทุกมุมของชีวิต <strong>เราค้นหาทุกคำตอบได้เพียงปลายนิ้วแต่เรากลับปล่อยให้คำถามสำคัญอย่างความหมายของชีวิตเราเองหล่นหาย</strong></p>
    <p>&emsp;แทบทุกคนในปัจจุบันเป็นเรื่องปกติมากที่จะหยิบมือถือขึ้นมาดูเวลาหรือแจ้งเตือน หรือบางที่ก็หยิบขึ้นมาเฉยๆอันเนื่องมาจาก Algorithm ที่ดึงดูดจนทำให้ผู้คนไม่สามารถควมคุมตัวเองได้</p>
    <br>
    <hr>
    <br>
    <p>&emsp;เราเป็นตัวแทนที่จะทำให้ทุกคนตระหนักรู้จึงสร้างนวัตกรรมนี้เพื่อกำหนดเป้าหมายในการใช้งาน Social Media (ในที่นี้คือ Youtube) เพื่อคืนเวลาให้ชีวิตและสร้างชีวิตที่มีความหมาย!</p>
    <br>
    <hr>
    <br>
    <h2>Digital Minimalism?</h2>
    <p>&emsp;<strong>เวลานอนลดลง เวลานั่งเพิ่มขึ้น มีคนเข้ารับการตรวจรักษาเพราะปัญหาสุขภาพจิตมากขึ้น</strong> ผู้คนเป็นกังวลมากมายทั้งที่ชีวิตเพียบพร้อม รู้สึกโดดเดี่ยวทั้งที่สามารถเชื่อมโยงกับคนจากอีกมุมโลกได้ พวกเรามีชีวิตที่สุขสบาน แต่สุขภาพกลับแย่ลง</p>
    <p>&emsp;<strong>Digital Minimalism คือ คำตอบสำหรับคุณ</strong> ลดเวลาการใช้ Social Media และลองหันมาทำสิ่งที่มีคุณค่าสำหรับตัวคุณ!</p>
  </div>
</div>

<br>
<hr>
<br>

<div class="index-project-preview-container-box">
  {% if projects %}
    {% for project in projects %}
    <div class="index-project-box">
      <a href="/watch/{{ project.id }}">
      <div class="index-progress-bar">
        <div class="index-progress" style="width: {{ project.progress_percentages|last|default:0 }}%;"></div>
      </div>
      <img class="index-project-cover" src="{% static 'application/img/mascot.webp' %}" alt="Project Cover">
      <h3 class="index-project-title">{{ project.title }}</h3>
      <p class="index-project-description">{{ project.description|default:"No description available." }}</p>
    </a>
    </div>
    {% endfor %}
    <div class="index-project-box">
      <a href="/search">
        <div class="index-progress-bar">
          <div class="index-progress" style="width: 0%;"></div>
        </div>
        <img class="index-project-cover" src="{% static 'application/img/plus.svg' %}" alt="Project Cover">
        <h3 class="index-project-title">{{ project.title }}</h3>
        <p class="index-project-description">{{ project.description|default:"No description available." }}</p>
      </a>
    </div>
  {% else %}
  <p>เริ่มสร้างโครงงานของคุณ! <a href="/search">Start a new project</a></p>
  {% endif %}
</div>
{% endblock %}